

.about{
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: transparent;
    top:0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0;
}

.about-animation-down{
    transform: translateX(0); /* Establecer la posición inicial */
    animation: moveDown 1s forwards ease-in;
}

.about-animation-up{
    transform: translateX(-100%);
    animation: moveUp 1s forwards ease-in;
}

.about-animation-down-right{
    transform: translateX(0%); /* Establecer la posición inicial */
    animation: moveDownRight 1s forwards ease-in;
}

.about-animation-up-right{
    transform: translateX(100%);
    animation: moveUpRight 1s forwards ease-in;
}

.animation-delay-right{
    animation-duration: 1s;
}

.animation-delay-left{
    animation-duration: 1s;
}

@keyframes moveUp {
    to {
        transform: translateX(0); /* Volver el elemento a su posición original */
        opacity: 1; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes moveDown {
    to {
        transform: translateX(-100%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes moveUpRight {
    to {
        transform: translateX(0%); /* Volver el elemento a su posición original */
        opacity: 1; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes moveDownRight {
    to {
        transform: translateX(100%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}



.leftSide{
    position: relative;
    width: 40%;
    height: 95%;

    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-left{
    width: 100%;
    height: 75%;
    background-color: transparent;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));

    filter: drop-shadow(0px 17px 17px rgba(255, 255, 255, 0.5)); /* Cambia los valores según sea necesario */

    display: flex;
    justify-content: center;
    align-items: center;
}

.size-img{
    position: relative;
    height: 100%;
}

.data-about{
    width: 100%;
    height: 25%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
}

.data-text{
    height: 5vh;
    font-family: 'Clesmont';
    /* font-size: 2.25vw; */
    font-size: calc(1.5vw + 1vh); 
    text-align: center;
    text-shadow: 
    1px 1px 0px #bbb, 
    2px 2px 0px #bbb, 
    0px 0px 10px rgba(255, 255, 255, 0.9); /* Brillo sombreado */
    margin: 0;
}

.rightSide{
    position: relative;
    width: 40%;
    height: 90%;
    margin-right: 2%;

    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
}

.title-right{
    position: relative;
    width: 100%;
    height: 15%;
    margin: 0;
    background-color: transparent;
    text-shadow: 
    1px 1px 0px #bbb, 
    2px 2px 0px #bbb, 
    3px 3px 0px #bbb, 
    4px 4px 0px #bbb, 
    5px 5px 0px #bbb, 
    0px 0px 10px rgba(255, 255, 255, 0.9); /* Brillo sombreado */

    display: flex;
    justify-content: center;
    align-items: center;
}

.title-right-text{
    font-family: 'Clesmont';
    font-size: 100px;
    text-align: center;
}

.education{
    position: relative;
    width: 100%;
    height: 22%;
    background-color:transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
}

.card-title{
    position: relative;
    height: 50px;
    width: 100%;

}

.article-title{
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Clesmont';
    font-size: 33px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 0;
}

.info-about{
    position: relative;
    height: 55%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}



.info-about-title{
    position: relative;
    width: 100%;
    height: 40%;

    font-family: 'Clesmont';
    font-size: 27px;
    text-align: left;
    font-style: normal;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    margin: 0px;
}

.info-about-subtitle{
    position: relative;
    width: 100%;
    height: 50%;

    font-family: 'Clesmont';
    font-size: 16px;
    text-align: left;
    margin: 0;
}

.info-about-text{
    position: relative;
    width: 100%;
    height: 10%;

    font-family: 'Meltbrown';
    font-size: 1.3vh;
    text-align: left;
    margin: 0;
}

.experience{
    position: relative;
    width: 100%;
    height: 48%;
    background-color:transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.language{
    position: relative;
    width: 100%;
    height: 15%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
}

.info-language{
    position: relative;
    height: 65%;
    width: 100%;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.language1{
    position: relative;
    height: 100%;
    width: 20%;
    background-color: transparent;
}

.language2{
    position: relative;
    height: 100%;
    width: 80%;
    background-color: transparent;
}

/* Consulta de medios para dispositivos más pequeños */
@media (max-width: 1600px) {

    .title-right-text{
        font-size: 85px;
    }

    .article-title{
        font-size: 33px;
    }

    .data-text{
        height: 35px;
    }

    .info-about-title{
        font-size: 20px;
    }

    .info-about-subtitle{
        font-size: 13px;
    }
    
}