button {
  border: none;
}

.bt-header:focus {
  outline: none;
}

.bt-header{
    width: 10em;
    position: relative;
    height: 3.5em;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 0.5s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    margin: 0px 10px 0px 10px;
    z-index: 10;

}

.bt-activo{
  transition: border 0s ease;
  border: 2px solid white;
}

.bt-activo:hover{
  transition: border 0s ease;
  border: 2px solid white;
}

.bt-inactivo{
  transition: border 0s ease;
  border: none;
}

.bt-inactivo:hover{
  border: none;
}

.bt-header:hover {
  box-shadow: inset 0px 0px 25px #7f00b2;
}

.bt-header-text{
  font-family: 'Anurati';
  font-size: large;
}

@media (max-height: 620px){
  .bt-header{
    width: auto;
    padding: 1.1em 1.5em;
    height: auto;
    border-radius: 0.4em;
    font-size: 11px;
    margin: 0px 10px 0px 10px;
  }
}
