.card {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 15%, 9%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(240, 9%, 17%);
    --primary: hsl(266, 92%, 58%);
  
    position: relative;
    width: 18vw;
    height: 5vh; 
    
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  
    padding: 0.25rem;
    background-color: transparent;
    background-image: 
    radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 0.7) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 0.7) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 0.7) 0px, transparent 85%);
    
    border-radius: 1rem;
  
  }


  
  