.contact{
    width: 100%;
    height: 81vh;
    top:0;
    background-color: transparent;

    display: flex;
}

.contact-section{
    position: relative;
    width: 65%;
    left: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-small{
    display: none;
}

.contact-title{
    position: relative;
    width: 100%;
    height: 10%;
    color: white;
    text-shadow: 
    1px 1px 0px #ccc, 
    2px 2px 0px #ccc, 
    3px 3px 0px #ccc, 
    4px 4px 0px #ccc, 
    5px 5px 0px #ccc, 
    0px 0px 10px rgba(255, 255, 255, 1); /* Brillo sombreado */
    background-color: transparent;
    text-align: center;

}

.contact-title-text{
    font-family: 'Clesmont';
    font-size: 117px;
    
}

.contact-body{
    position: relative;
    width: 100%;
    height: 90%;
    background-color: transparent;
}

.contact-animation-down-title{
    transform: translateY(0); /* Establecer la posición inicial */
    animation: visibleNOTITLE 1.3s forwards ease-in;
}

.contact-animation-up-title{
    transform: translate(-150%,-150%); 
    animation: visibleSI 1.3s forwards ease-in;
}

.contact-animation-down-body{
    transform: translateY(0); /* Establecer la posición inicial */
    animation: visibleNOBODY 1.3s forwards ease-in;
}

.contact-animation-up-body{
    transform: translate(150%,150%); 
    animation: visibleSI 1.3s forwards ease-in;
}

@keyframes visibleSI {
    to {
        transform: translateY(0); /* Volver el elemento a su posición original */
        opacity: 1; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes visibleNOTITLE {
    to {
        transform: translate(-150%,-150%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes visibleNOBODY {
    to {
        transform: translate(150%,150%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

.container-form{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}

.info-form{
    position: relative;
    height: 60%;
    justify-self: center;
    align-self: center;
}

.container-form h2{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 35px;
    color: white;
    text-shadow: 
    1px 1px 0px #bbb, 
    2px 2px 0px #bbb, 
    0px 0px 10px rgba(255, 255, 255, 0.9); /* Brillo sombreado */
    font-family: 'Clesmont';
}

.container-form p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    font-family: 'Clesmont';
    text-align: justify;
}

.contact-data{
    width: 100%;
    height: 50px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon-data{
    position: relative;
    width: 10%;
    height: 100%;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-data-img{
    position: relative;
}

.container-form span{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    font-weight: 700;
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    font-family: 'Clesmont';
}

.container-form form .campo, textarea {
    position: relative;
    width: 100%;
    padding: 19px 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: 0px;
    box-shadow: inset 0 0 9px #6043FA, inset 0 0 18px #D743FA, inset 0 0 25px #9C43FA;
    border: 3px solid rgb(255, 255, 255);
    background-color: transparent;
    font-family: 'Clesmont';
    color: white;
}

.container-form form .campo{
    position: relative;
    width: 100%;
    
}

.container-form form textarea{

    min-width: 530px;
    min-height: 140px;

}

.campo::placeholder {
    color: white; /* Cambia el color del texto del placeholder */
    font-style: italic; /* Aplica un estilo en cursiva */
    opacity: 0.7; /* Asegúrate de que la opacidad esté al máximo */
    font-family: 'Clesmont';
}

.btn-submit-position{
    position: relative;
    bottom:10px
}

@media (max-width: 1600px) {
    .contact{
        width: 100%;
        left: 27%;
    }

    .contact-small{
        display: none;
    }

    .info-form{
        width: 90%;
    }

    .contact-title-text{
        font-family: 'Clesmont';
        font-size: 95px;    
    }

    .container-form{
        grid-gap: 10px;
    }

    .container-form h2{
        margin-bottom: 13px;
        font-size: 30px; 
    }
    .container-form p{
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 18px;
    }

    .container-form span{
        font-size: 14px;
    }

    .container-form form .campo, textarea{
        padding: 15px 10px;
        font-size: 15px;
    }

    .container-form form textarea{

        min-width: 400px;
        min-height: 100px;
    
    }
}

@media (max-width: 1100px) {
    .contact{
        display: none;
    }

    .contact-small{
        background-color: transparent;
        width: 100%;
        height: 100%;
        margin: 30px 0 0 0;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-small-title{
        position: relative;
        width: 100%;
        height: 15%;
        background-color: transparent;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-title-text{
        font-size: calc(13vw + 20px);
        color: white;
        text-shadow: 
        1px 1px 0px #ccc, 
        2px 2px 0px #ccc, 
        3px 3px 0px #ccc, 
        4px 4px 0px #ccc, 
        5px 5px 0px #ccc, 
        0px 0px 10px rgba(255, 255, 255, 1); /* Brillo sombreado */
    }
    
    .contact-small-body{
        position: relative;
        width: 100%;
        height: 85%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }

    .text-body-title{
        font-size: calc(1.5vw + 2vh);
        color: white;
        text-shadow: 
        1px 1px 0px #bbb, 
        2px 2px 0px #bbb, 
        0px 0px 10px rgba(255, 255, 255, 0.9); /* Brillo sombreado */
        font-family: 'Clesmont';
        text-align: center;
    }

    .text-body-p{
        margin: 0px 30px 0px 30px;
        font-size: calc(1vw + 1.1vh);
        line-height: 1.4;
        color: white;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
        font-family: 'Clesmont';
        text-align: right;
    }

    .text-body-data{
        font-size: calc(1.3vw + 0.8vh);
        color: white;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
        font-family: 'Clesmont';
    }

    .contact-data-list{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        background-color: transparent;

        justify-content: center;
        align-items: center;

    }

    .contact-data{
        position: relative;
        width: 100%;
        margin-left: 1.5%;
        height: 33%;

        background-color: transparent;
    
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .info-form{
        display: flex;
        flex-direction: column;
        height: 65%;
        justify-content: center;
        align-items: center;
    }

    .campo{
        position: relative;
        width: 90%;
        height: calc(2.5vh + 5px);
        padding: 15px 10px;
        font-size: 16px;
        margin-bottom: 11px;
        border-radius: 5px;
        outline: 0px;
        box-shadow: inset 0 0 9px #6043FA, inset 0 0 18px #D743FA, inset 0 0 25px #9C43FA;
        border: 2px solid rgb(255, 255, 255);
        background-color: transparent;
        font-family: 'Clesmont';
    }

    .btn-submit-position{
        margin-top: 10px;
    }

    .contact-animation-up-title{
        transform: translateX(-100%); 
        animation: visibleSI 1.3s forwards ease-in;
    }

    .contact-animation-down-title{
        transform: translateX(0); /* Establecer la posición inicial */
        animation: visibleNOTITLE 1.3s forwards ease-in;
    }

    @keyframes visibleNOTITLE {
        to {
            transform: translateX(-100%); 
            opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
        }
    }

    

}