

.btn-donate {
    --clr-font-main: #b043e2; /* Púrpura para el texto principal */
    --btn-bg-1: #7f00b2; /* Púrpura para el primer fondo de botón */
    --btn-bg-2: #1b004b; /* Púrpura para el segundo fondo de botón */
    --btn-bg-color: #ffffff; /* Blanco para el color de texto del botón */
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    min-height: 44px;
    font-size: var(--size, 1rem);
    font-family: "Clesmont", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 5px 5px -1px rgba(255, 255, 255, 0.25), inset 4px 4px 8px rgba(255, 255, 255, 0.5), inset -4px -4px 8px rgba(255, 255, 255, 0.35);
  
  }
  
  .btn-donate:hover {
    background-position: right top;
  }
  
  .btn-donate:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn-donate {
      transition: linear;
    }
  }