  
.footer{
    position: relative;
    height: 9%;
    width: 100%;
    z-index: 10;
    margin: 0;

    display: flex;
    justify-content: right;
    align-items: center;

}
  
  .socialmedia{
    position: relative;
    z-index: 10;
    margin: 0; 
    background-color: transparent;
    height: 100%;
    width: 25%;
  }

  @media (max-width: 800px) {
    .footer{
      width: 50%;
    }
}