  
.footer{
    position: fixed;
    top:91vh;
    height: 9vh;
    width: 100%;
    z-index: 10;
    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: right;
    align-items: center;

}
  
  .socialmedia{
    position: relative;
    z-index: 10;
    margin: 0; 
    background-color: transparent;
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1100px) {
    .footer{
      display: none;
    }

    .socialmedia{
      width: 100%;
    }
}