.home{
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: transparent;

    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.home-left-section{
    position: relative;
    width: 50%;
    margin-left: 7%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
    flex-wrap: wrap;
}

.home-animation-left {
    transform: translateX(0); /* Establecer la posición inicial */
    animation: moveLeft 0.7s forwards ease-in;
}

.animation-delay-phrase{
    animation-duration: 1.2s;
}

.animation-delay-representation{
    animation-duration: 0.9s;
}

.animation-delay-rol{
    animation-duration: 0.6s;
}

.home-animation-right {
    transform: translateX(-100%);
    animation: moveRight 1s forwards ease-in;
}

@keyframes moveRight {
    to {
        transform: translateX(0); /* Volver el elemento a su posición original */
        opacity: 1; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes moveLeft {
    to {
        transform: translateX(-100%); /* Mover el elemento hacia la izquierda */
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}


.phrase{
    position: relative;
    width: 100%;
    height: 50%;
    margin-bottom: 30px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-shadow: 
    1px 1px 0px #bbb, 
    2px 2px 0px #bbb, 
    3px 3px 0px #bbb, 
    4px 4px 0px #bbb, 
    5px 5px 0px #bbb, 
    0px 0px 10px rgba(255, 255, 255, 0.9); /* Brillo sombreado */

}


  .phrase-text {
    font-family: 'Clesmont';
    font-size: 112px; /* Tamaño de fuente para dispositivos grandes */
    text-align: right;
}

.presentation{
    position: relative;
    width: 100%;
    height: 35%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    opacity: 0.7;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);
}


.presentation-text{
    font-family: 'FivoSans';
    font-size: 3vh;
    text-align: left;
    text-indent: 70px;
    font-style: normal;
}

.rol{
    position: relative;
    width: 100%;
    height: 15%;
    margin-top: 30px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
    flex-wrap: wrap;

    opacity: 0.9;
    text-shadow: 
    1px 1px 0px #bbb, 
    2px 2px 0px #bbb, 
    0px 0px 10px rgba(255, 255, 255, 0.9); /* Brillo sombreado */
}

.rol-text{
    font-family: 'Clesmont';
    font-size: 3vw;
    text-align: center;
}

/* .text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: 
}

  @keyframes text-pop-up-top {
    100% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      text-shadow: 0 1px 0 #dddddd, 0 2px 0 #dddddd, 0 3px 0 #dddddd, 0 4px 0 #dddddd, 0 5px 0 #dddddd, 0 6px 0 #dddddd, 0 7px 0 #dddddd, 0 8px 0 #dddddd, 0 9px 0 #dddddd, 0 30px 15px rgba(0, 0, 0, 0.3);
    }
  } */
  

/* Consulta de medios para dispositivos más pequeños */
@media (max-width: 1600px) {
    .phrase-text {
        font-size: 95px; /* Tamaño de fuente para dispositivos medianos */
    }

    .presentation-text{
        font-size: 22px;
        text-indent: 70px;
    }

    .rol-text{
        font-size: 45px;
    }
}

@media (max-width: 800px) {
    
    .home{
        position: relative;
        width: 80%;
    }

    .phrase-text {
        font-size: 16vw; /* Tamaño de fuente para dispositivos medianos */
    }

    .presentation-text{
        font-size: 18px;
        text-indent: 35px;
    }

    .rol-text{
        font-size: 5vw;
    }
}