.home{
    width: 100%;
    height: 81vh;
    margin: 0 0 30px 0;
    overflow-x: hidden;
    background-color: transparent;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-small{
    display: none;
}

.home-left-section{
    position: relative;
    width: 50%;
    margin-left: 7%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
    flex-wrap: wrap;
}

.home-animation-left {
    transform: translateX(0); /* Establecer la posición inicial */
    animation: moveLeft 0.7s forwards ease-in;
}

.animation-delay-phrase{
    animation-duration: 1.2s;
}

.animation-delay-representation{
    animation-duration: 0.9s;
}

.animation-delay-rol{
    animation-duration: 0.6s;
}

.home-animation-right {
    transform: translateX(-100%);
    animation: moveRight 1s forwards ease-in;
}

@keyframes moveRight {
    to {
        transform: translateX(0); /* Volver el elemento a su posición original */
        opacity: 1; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes moveLeft {
    to {
        transform: translateX(-100%); /* Mover el elemento hacia la izquierda */
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}


.phrase{
    position: relative;
    width: 100%;
    height: 50%;
    margin-bottom: 30px;
    background-color: transparent;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-small {
    display: none;
}

.home-left-section {
    position: relative;
    width: 50%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
}

.home-animation-left {
    transform: translateX(0);
    animation: moveLeft 0.7s forwards ease-in;
}

.home-animation-right {
    transform: translateX(-100%);
    animation: moveRight 1s forwards ease-in;
}

@keyframes moveRight {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft {
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.phrase,
.presentation,
.rol {
    position: relative;
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.phrase {
    height: 50%;
    margin-bottom: 30px;
    text-shadow: 
        1px 1px 0px #ccc, 
        2px 2px 0px #ccc, 
        3px 3px 0px #ccc, 
        4px 4px 0px #ccc, 
        5px 5px 0px #ccc, 
        0px 0px 10px rgba(255, 255, 255, 1);

}

.presentation {
    height: 35%;
    opacity: 0.7;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);
}

.presentation-text {
    font-family: 'FivoSans';
    font-size: 3vh;
    text-align: left;
    text-indent: 70px;
    font-style: normal;
}

.rol {
    height: 15%;
    margin-top: 30px;
    opacity: 0.9;
    text-shadow: 
        1px 1px 0px #bbb, 
        2px 2px 0px #bbb, 
        0px 0px 10px rgba(255, 255, 255, 0.9);
}

.phrase-text,
.rol-text {
    font-family: 'Clesmont';
    
}

.phrase-text {
    font-size: 112px;
    text-align: right;
}

.rol-text {
    font-size: 3vw;
    text-align: center;
}

/* Media Queries */
@media (max-width: 1600px) {
    .phrase-text {
        font-size: 95px;
    }

    .presentation-text {
        font-size: 22px;
        text-indent: 70px;
    }

    .rol-text {
        font-size: 45px;
    }
}

@media (max-width: 1100px) {
    .home {
        display: none;
    }

    .home-small {
        width: 100%;
        height: 81vh;
        margin: 0 0 30px 0;
        overflow: hidden;
        background-color: transparent;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .home-left-section {
        width: 90%;
        margin-left: 5%;
    }

    .phrase-text {
        font-size: 16vw;
    }

    .presentation {
        opacity: 0.8;
        text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    }

    .presentation-text {
        font-family: 'Clesmont';
        font-size: calc(4vw + 0.2vh);
        text-indent: 35px;
    }

    .rol-text {
        font-size: calc(5vw + 0.2vh);
    }
}


  .phrase-text {
    font-family: 'Clesmont';
    font-size: 112px; /* Tamaño de fuente para dispositivos grandes */
    text-align: right;
}

.presentation{
    position: relative;
    width: 100%;
    height: 35%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    opacity: 0.7;
    color: white;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);
}


.presentation-text{
    font-family: 'Khand';
    font-size: 3vh;
    text-align: left;
    text-indent: 70px;
    font-style: normal;
}

.rol{
    position: relative;
    width: 100%;
    height: 15%;
    margin-top: 30px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
    flex-wrap: wrap;

    opacity: 0.9;
    color: white;
    text-shadow: 
    1px 1px 0px #bbb, 
    2px 2px 0px #bbb, 
    0px 0px 10px rgba(255, 255, 255, 0.9); /* Brillo sombreado */
}

.rol-text{
    font-family: 'Clesmont';
    font-size: 3vw;
    text-align: center;
}

@media (max-width: 1600px) {
    .phrase-text {
        font-size: 95px; /* Tamaño de fuente para dispositivos medianos */
    }

    .presentation-text{
        font-size: 22px;
        text-indent: 70px;
    }

    .rol-text{
        font-size: 45px;
    }
}

@media (max-width: 1100px) {
    
    .home{
        display: none;
    }
    
    .home-small{
        width: 100%;
        height: 81vh;
        margin: 0 0 30px 0;
        overflow: visible;
        background-color: transparent;
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .home-left-section{
        position: relative;
        width: 90%;
        margin-left: 5%;
    }

    .phrase-text {
        font-size: 16vw; /* Tamaño de fuente para dispositivos medianos */
    }

    .presentation{
        opacity: 0.8;
        text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    }

    .presentation-text{
        font-family: 'Khand';
        font-size: calc(5vw + 0.2vh);
        text-indent: 35px;
    }

    .rol-text{
        font-size: calc(5vw + 0.2vh);
    }
}