
.skills{
    width: 100%;
    height: 81vh;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.skills-small{
    display: none;
}

.skills-animation-down-title{
    transform: translateX(0); /* Establecer la posición inicial */
    animation: visibleNOTITLE 1.2s forwards ease-in;
}

.skills-animation-down-hard{
    transform: translateX(0); /* Establecer la posición inicial */
    animation: visibleNOHARD 1.2s forwards ease-in;
}

.skills-animation-down-soft{
    transform: translateY(0); /* Establecer la posición inicial */
    animation: visibleNOSOFT 1.2s forwards ease-in;
}

.skills-animation-up-title{
    transform: translateX(-100%); 
    animation: visibleSI 1.2s forwards ease-in;
}

.skills-animation-up-hard{
    transform: translateX(-100%); 
    animation: visibleSI 1.2s forwards ease-in;
}

.skills-animation-up-soft{
    transform: translateY(100%); 
    animation: visibleSI 1.2s forwards ease-in;
}

@keyframes visibleSI {
    to {
        transform: translateX(0); /* Volver el elemento a su posición original */
        opacity: 1; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes visibleNOTITLE {
    to {
        transform: translateX(-100%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes visibleNOHARD {
    to {
        transform: translateX(-100%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes visibleNOSOFT {
    to {
        transform: translateY(100%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

.skills-title{
    position: absolute;
    color: white;
    text-shadow: 
    1px 1px 0px #ccc, 
    2px 2px 0px #ccc, 
    3px 3px 0px #ccc, 
    4px 4px 0px #ccc, 
    5px 5px 0px #ccc, 
    0px 0px 10px rgba(255, 255, 255, 1); /* Brillo sombreado */

    display: flex;
    justify-content: left;
    align-items: center;
}

.skills-title-text{
    font-family: 'Clesmont';
    font-size: 117px;
    text-align: center;
}

.hard-skills{
    position: relative;
    width: 40%;
    height: 50%;
    margin-left: 10%;
    z-index: 10;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hard-skills-title{
    position: relative;
    height: 14%;
    width: 100%;
    background-color: transparent;
}

.hard-skills-body{
    position: relative;
    height: 70%;
    width: 100%;
    background-color: transparent;
    margin-top: 3%;

    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr); 

}

.parent-skill {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-self: center; /* Centra horizontalmente dentro de la celda */
    align-self: center; /* Centra verticalmente dentro de la celda */
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-skill{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #121212; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;
  box-shadow: inset 0 0 10px #6043FA, inset 0 0 20px #D743FA, inset 0 0 30px #9C43FA;
  border: 3px solid rgb(255, 255, 255);

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 20px;
  }
}



.skill-name{
    font-family: 'Clesmont';
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    text-align: center;
}


.soft-skills{
    position: relative;
    width: 30%;
    height: 50%;
    z-index: 10;
    background-color: transparent;
    margin-left: 35%;
    bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soft-skills-title{
    position: relative;
    height: 14%;
    width: 100%;
    background-color: transparent;
    margin-left: 0%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.soft-skills-body{
    position: relative;
    height: 70%;
    width: 100%;
    background-color: transparent;
    margin-top: 3%;

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
}

.article-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

  @media (max-width: 1600px) {
    
    .skills-title{
        margin-top: 20%;
        margin-left: 7%;
    }

    .soft-skills-title{
        margin-left: 0%;
    }

    .soft-skills{
        margin-left: 41%;
        bottom: 6%;
    }

    .card-skill{
        width: 75px;
        height: 75px;
    }

  }

  .skills-small{
    display: none;
}

  @media (max-width: 1100px) {
    .skills{
        display: none;
    }

    .skills-small{
        position: relative;
        background-color: transparent;
        width: 100%;
        height: 100%;
        margin: 30px 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills-small-title{
        position: relative;
        width: 100%;
        height: 15%;
        background-color: transparent;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skills-small-body{
        position: relative;
        width: 100%;
        height: 85%;
        background-color: transparent;

        display: flex;
    }

    .skills-title-text{
        font-size: calc(15vw + 20px);
        text-shadow: 
        1px 1px 0px #ccc, 
        2px 2px 0px #ccc, 
        3px 3px 0px #ccc, 
        4px 4px 0px #ccc, 
        5px 5px 0px #ccc, 
        0px 0px 10px rgba(255, 255, 255, 1); /* Brillo sombreado */
    }

    .title-skills{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills-small-body-left{
        flex: 1;
        background-color: transparent;

        display: flex;
        flex-direction: column;
    }

    .skills-small-body-left-title{
        flex: 0.1;
        background-color: transparent;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills-small-body-left-body{
        flex: 0.9;
        background-color: transparent;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .skills-small-body-right{
        flex: 1;
        background-color: transparent;

        display: flex;
        flex-direction: column;
    }

    .hard-skills-title{
        position: relative;
        height: 100%;
        width: 100%;
        background-color: transparent;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article-title{
        font-size: 4vw;
    }

    .skills-animation-up-soft{
        transform: translateX(100%); 
        animation: visibleSI 1.2s forwards ease-in;
    }

    @keyframes visibleNOSOFT {
        to {
            transform: translateX(100%); 
            opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
        }
    }
  }