.skills{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 6%;
    top:0;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-animation-down-title{
    transform: translateY(0); /* Establecer la posición inicial */
    animation: visibleNOTITLE 1s forwards ease-in;
}

.skills-animation-down-hard{
    transform: translateY(0); /* Establecer la posición inicial */
    animation: visibleNOHARD 1s forwards ease-in;
}

.skills-animation-down-soft{
    transform: translateY(0); /* Establecer la posición inicial */
    animation: visibleNOSOFT 1s forwards ease-in;
}

.skills-animation-up-title{
    transform: translate(-150%,150%); 
    animation: visibleSI 1.3s forwards ease-in;
}

.skills-animation-up-hard{
    transform: translate(150%,-200%); 
    animation: visibleSI 1.3s forwards ease-in;
}

.skills-animation-up-soft{
    transform: translate(150%,200%); 
    animation: visibleSI 1.3s forwards ease-in;
}

@keyframes visibleSI {
    to {
        transform: translateY(0); /* Volver el elemento a su posición original */
        opacity: 1; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes visibleNOTITLE {
    to {
        transform: translate(-150%,150%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes visibleNOHARD {
    to {
        transform: translate(150%,-200%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

@keyframes visibleNOSOFT {
    to {
        transform: translate(150%,200%); 
        opacity: 0; /* Hacer que el elemento se desvanezca gradualmente */
    }
}

.skills-title{
    position: absolute;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    top: 70%;
    left: 10%;

    display: flex;
    justify-content: left;
    align-items: center;
}

.skills-title-text{
    font-family: 'Clesmont';
    font-size: 117px;
    text-align: center;
}

.hard-skills{
    position: relative;
    width: 100%;
    height: 50%;
    margin-left: 10%;
    z-index: 10;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hard-skills-title{
    position: relative;
    height: 14%;
    width: 100%;
    background-color: transparent;
}

.hard-skills-body{
    position: relative;
    height: 70%;
    width: 100%;
    background-color: transparent;
    margin-top: 3%;

    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
}

.parent-skill {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-self: center; /* Centra horizontalmente dentro de la celda */
    align-self: center; /* Centra verticalmente dentro de la celda */
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-skill{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #121212; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;
  box-shadow: inset 0 0 10px #6043FA, inset 0 0 20px #D743FA, inset 0 0 30px #9C43FA;
  border: 3px solid rgb(255, 255, 255);

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 20px;
  }
}



.skill-name{
    font-family: 'Clesmont';
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    text-align: center;
}


.soft-skills{
    position: relative;
    width: 100%;
    height: 50%;
    z-index: 10;
    background-color: transparent;
    margin-left: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soft-skills-title{
    position: relative;
    height: 14%;
    width: 100%;
    background-color: transparent;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.soft-skills-body{
    position: relative;
    height: 70%;
    width: 66%;
    margin-left: 36%;
    background-color: transparent;
    margin-top: 3%;

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
}


.title-name{
    font-family: 'Clesmont';
    margin-left: 2vw;
    font-size: 25px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  }